/* Global */
@font-face {
  font-family: myFirstFont;
  src: url(../assets/BebasNeue-webfont.woff);
}


html, body {
  height: 100%;
}

body {
  font-family: myFirstFont;
  font-weight: 500;
  color: #696865;
  text-transform: uppercase;
  max-width: 1024px;
  height: 768px;
  margin: 0 auto;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-size: 30px;
  background-color: #EAE7DC;
  padding: 0 25px;
  display: block;
}
a {
  color: #C8271A;
  
}
footer {
  text-align: right;
  padding-bottom: 10px;
  font-size: 20px;
  width: 100%;
}
footer a {
  text-decoration: none;
}

/* Title */
#title {
  text-align: right;
  font-size: 50px;
  color: #696865;
}

/* Image */
.left {
  height: auto;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  min-width: 200px;
}
figcaption {
font-size: 20px;
text-align: center;
padding-top: 20px;
}

/* Timeline */
.right {
  padding-top: 150px;
}
.timeline {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: grid;
grid-template-columns: 1fr 1fr;
}
.text {
  padding-top: 80px;
}
p {
  color: #C8271A;
  text-align: center;
  font-size: 40px;
  line-height: 35px;
  z-index: 0;
}
p span {
  color: #5E6977;
  font-size: 200px;
  z-index: 10;
  text-align: center;
}
p span::after {
  top:100px;
}
.input-flex-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 0;
}
.description-flex-container {
  font-weight: 400;
  font-size: 22px;
}
.description-flex-container p {
  margin-top: 0;
  display: none;
}
.description-flex-container p.active {
  display: block;
}

.input {
  width: 25px;
  height: 25px;
  background-color: #C8271A;
  position: relative;
  border-radius: 50%;
}
.input:hover {
  cursor: pointer;
}
.input::before, .input::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: #C8271A;
  width: 4vw;
  height: 5px;
  max-width: 50px;
}
.input::before {
  left: calc(-4vw + 12.5px);
}
.input::after {
  right: calc(-4vw + 12.5px);
}
.input.active {
  background-color: #C8271A;
}
.input.active::before {
  background-color: #C8271A;
}
.input.active::after {
  background-color: #5E6977;
}
.input.active span {
  font-weight: 700;
}
.input.active span::before {
  font-size: 13px;
}
.input.active span::after {
  font-size: 15px;
}
.input span::after {
  content: attr(data-year);
}
.input.active ~ .input, .input.active ~ .input::before, .input.active ~ .input::after {
  background-color: #5E6977;
}
.input span {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.input span::before, .input span::after {
  visibility: visible;
  position: absolute;
  left: 50%;
}
.input span::after {
  content: "";
  top: 25px;
  transform: translateX(-50%);
  font-size: 14px;
}
.input span::before {
  content: attr(data-info);
  top: -65px;
  width: 70px;
  transform: translateX(-5px) rotateZ(-45deg);
  font-size: 12px;
  text-indent: -10px;
}

/* Media Queries */

@media (min-width: 1250px) {
  .input::before {
    left: -37.5px;
  }

  .input::after {
    right: -37.5px;
  }
}
@media (min-width: 850px) and (max-width: 1045px) {
.right { width: 98%;}
}
@media (max-width: 850px) {
.left {
  grid-column-start: 1;
grid-column-end: 3;
}
.input span::after {
  content: attr(data-year);
  top: 25px;
  transform: translateX(-50%);
  font-size: 14px;
}
footer {
  text-align: center;
}
.right {
  grid-column-start: 1;
grid-column-end: 3;
padding-top: 0px;
}
  .input {
    width: 17px;
    height: 17px;
  }
  .input::before, .input::after {
    height: 3px;
  }
  .input::before {
    left: calc(-4vw + 8.5px);
  }
  .input::after {
    right: calc(-4vw + 8.5px);
  }
  #title {
    text-align: center;
    padding-top: 10px;
  }
  .flex-parent {
    justify-content: initial;
  }

  .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 15vh;
  }

  .input {
    width: 60px;
    height: 60px;
    margin: 0 10px 50px;
    background-color: #5E6977;
  }
  .input::before, .input::after {
    content: none;
  }
  .input span {
    width: 100%;
    height: 100%;
    display: block;
  }
  .input span::before {
    top: calc(100% + 5px);
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }
  .input span::after {
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ECF0F1;
  }

  .description-flex-container {
    margin-top: 30px;
    text-align: center;
    padding-top: 0px;
  }
}
@media (max-width: 400px) {
  body {
    min-height: 950px;
  }
}
